@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 960px;
	height: 1250px;
	background:  #B6B5B5;
	margin: 0 auto;
	-webkit-box-shadow: 6px 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 11px 5px rgba(0,0,0,0.75);
}
body{ font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}
.header{
	width: 960px;
	height: 200px;
	background: #FFFFFF;
}
.top-bar{
	width:960px;
	height: 0px;
	float: left;
/*	background: #771113*/
}

.social{
	width: 200px;
	height: 50px;
/*	background: #75DDA5;*/
	float: right;
	text-align: right;
}
.social img{
	width: 30px;
	margin-right: 20px;
	margin-top: 140px;
}
.food{
	width: 960px;
	height: 200px;
/*	background: #75DDA5;*/
	float: left;
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 8px;
}
.food img{
	width: 76px;
	margin-right: 20px;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px
	
}
.logo{
	width: 230px;
	height: 181px;
/*	background: #4173A2;*/
	float: left;
	border-bottom: 2px solid black;
}
.logo img{
	height: 180px;
	width: 250px;
}
.menu{
	width: 730px;
	height: 200px;
/*	background: #D7A7A8;*/
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
} 
.menu ul {
	list-style: none ;
	text-align: center ;
	margin-top: 70px;
	border-bottom: 2px solid black;
}
.menu ul li{
	display: inline-block;
	width: 100px ;
	height: 110px ;
/*	background: blue ;*/
	text-align: center;
	line-height: 60px;
	font-size: 20px;
}
.menu ul li a{
	text-decoration: none;
	color:#D59165;
/*text-shadow: 3px 5px 4px #000000;*/
}
.menu ul li a:hover{
	color: red;
	text-shadow: 4px 7px 5px #000000;
}
.content{
	width: 960px;
	height: 1000px;
	background: #FFFFFF;
}
.footer{
	width: 960px;
	height: 50px;
	background: #FFFFFF;
}
.box{
	width: 480px;
	height: 300px;
/*	background: #5A6DDD;*/
	float: left;
}
.welcom{
	width: 960px;
	height: 40px;
/*	background: #823CCE;*/
	margin-bottom: inherit;
	text-align: center;
	padding: 0px;
	color: #D59165;
	text-shadow: 2px 3px 4px #000000;
	word-spacing: 10px;
}
.welcom-1{
	text-align: center;
	padding: 10px;
	color: black;
/*	text-shadow: 3px 5px 4px #000000;*/
	word-spacing: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.box img{
	height: 180px;
	width: 180px;
	margin-top: 0px;
	margin: 2px 50px 0px 150px
}
.box-1{
	width: 480px;
	height: 300px;
/*	background: #CF9ACE;*/
	float:left;
}
.box-1 img{
	height: 180px;
	width: 180px;
	margin-top: 0px;
	margin: 2px 50px 0px 150px
}
.box-2{
	width: 480px;
	height: 300px;
/*	background: #217548;*/
	float: left;
	margin-top: 10px;
}
.box-2 img{
	height: 180px;
	width: 180px;
	margin-top: 0px;
	margin: 2px 50px 0px 150px
}
.box-3{
	width: 480px;
	height: 300px;
/*	background: #4A1E1E;*/
	float: left;
	margin-top: 10px
}
.box-3 img{
	height: 180px;
	width: 180px;
	margin-top: 0px;
	margin: 2px 50px 0px 150px
}
.box-4 {
	width: 960px;
	height: 60px;
/*	background: #30A1BE;*/
	float:left;
	margin-top: 10px;
}
.box ul li a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 30px;
	text-decoration: none;
	color: #D59165;
}
.box ul li a:hover{
	color: red;
	text-shadow: 4px 7px 5px #000000;
}
.box ul li {
	text-align: center;
	list-style: none;
}
.box-1 ul li a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 30px;
	text-decoration: none;
	color: #D59165;
}
.box-1 ul li a:hover{
	color: red;
	text-shadow: 4px 7px 5px #000000;
}
.box-1 ul li {
	text-align: center;
	list-style: none;
}
.box-2 ul li a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 30px;
	text-decoration: none;
	color: #D59165;
}
.box-2 ul li a:hover{
	color: red;
	text-shadow: 4px 7px 5px #000000;
}
.box-2 ul li {
	text-align: center;
	list-style: none;
}
.box-3 ul li a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 30px;
	text-decoration: none;
	color: #D59165;
}
.box-3 ul li a:hover{
	color: red;
	text-shadow: 4px 7px 5px #000000;
}
.box-3 ul li {
	text-align: center;
	list-style: none;
}
.room{
	width: 450px;
	height: 70px;
/*	background:  #979090;*/
	text-align: center;
	margin: auto
}
.room-1{
	height: 50px ;
	text-align: center;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.room-2{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.room-3{
	width: 960px;
/*	background: #5C4857;*/
	text-align: center;
	margin-top: 10p
}